@media screen and (max-width: 420px){
    .sessionForm{
        width: auto !important;
        margin-top: 30px !important;
    }
    .swiperButtons{
        width: auto !important;
        margin-left: 30px !important;
    }
    .moreInfoBtn, .likeBtn{
        margin: 0 !important;
    }
    .likeBtn{
        margin-left: 4px !important;
    }
}